*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: Arial, sans-serif;
      scroll-behavior: smooth;
      background: black ;
      color: #fff;
    }

    section{
        padding: 50px;
        border: 1px solid #fff;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    #social-media i {
  transition: transform 0.3s ease;
}
#social-media i:hover {
  transform: scale(1.2);
}

.project-image{
    display: inline-block;
    max-width: 200px;
}
    header {
      background: linear-gradient(135deg, #4B0082, #6A0DAD);
      color: white;
      padding: 5rem 0;
      text-align: center;
    }
    header img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 4px solid white;
      margin-bottom: 15px;
      object-fit: cover;
      object-position: center -6%;
    }
    .section-title {
      color: #4B0082;
      font-weight: bold;
      margin-bottom: 20px;
    }
    footer {
      background-color: #4B0082;
      color: white;
      padding: 1rem;
      text-align: center;
    }
    .project-card {
      transition: transform 0.3s;
    }
    .project-card:hover {
      transform: scale(1.05);
    }